<!doctype html>
<html>
<head>
    <%- include('admin/portal/head'); %>
    <script src="/javascripts/echarts.min.js"></script>
</head>
<body data-type="index">
	<!-- topbar start //-->
    <%- include('admin/portal/header') %>
	<!-- topbar end //-->
    <div class="am-cf admin-main">
    			<!-- side nav bar start //-->
        <%- include('admin/portal/sidernav') %>
			<!-- side nav bar end //-->



<div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">稿件管理</strong> / <small>类型列表</small></div>
      </div>

      <hr>

      <div class="am-g">
        <div class="am-u-sm-12 am-u-md-6">
          <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
              <button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button>
              <button type="button" class="am-btn am-btn-default"><span class="am-icon-archive"></span> 审核</button>
              <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>
            </div>
          </div>
        </div>
        
        <div class="am-u-sm-12 am-u-md-3">
          <div class="am-input-group am-input-group-sm">
            <input type="text" class="am-form-field">
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button">搜索</button>
          </span>
          </div>
        </div>
      </div>

      <div class="am-g">
        <div class="am-u-sm-12">
          <form class="am-form">
            <table class="am-table am-table-striped am-table-hover table-main">
             <thead>
                                      <tr>
                                            <th class="table-check"><input onclick="selectAll()" type="checkbox" name="controlAll" style="controlAll" id="controlAll" class="tpl-table-fz-check"></th>
                                            <th class="table-id">ID</th>
                                            <th class="table-title">标题</th>
                                            <th class="table-type">类别</th>
                                            <th class="table-type">检察院</th>
                                            <th class="table-author am-hide-sm-only">作者</th>
                                            <th class="table-date am-hide-sm-only">发布日期</th>
                                            <th class="table-set">操作</th>
                                        </tr>
                                    </thead>
              <tbody>
                                         <%for(var i=0;i<Articles.length;i++){ %>
                                        <tr>
                                            
                                            <td><input type="checkbox" name="selected"></td>
                                            <td><%=i+1%></td>
                                            <td><a href="/article/content?title=<%=Articles[i].title%>"><%=Articles[i].title%></a></td>

                                            <td><%=Articles[i].articleType.typeName%></td>
                                            <td><%=Articles[i].procuratorate.proName%></td>
                                            <td class="am-hide-sm-only"><%=Articles[i].author%></td>
                                            <td class="am-hide-sm-only"><%=Articles[i].createAt%></td>
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                     <a href="/article/edit?_id=<%=Articles[i]._id%>" class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</a>
                                                        
                                                   
                                                    </div>
                                                </div>
                                            </td>
                                             <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                     
                                                        
                                                     <a href="/article/del?_id=<%=Articles[i]._id%>" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</a>
                                                    </div>
                                                </div>
                                            </td>
                                            
                                        </tr>
                                        <%}%>
                                       
                                    </tbody>
            </table>
            <div class="am-cf">
              共 15 条记录
              <div class="am-fr">
                <ul class="am-pagination">
                  <li class="am-disabled"><a href="#">«</a></li>
                  <li class="am-active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">»</a></li>
                </ul>
              </div>
            </div>
            <hr />
          </form>
        </div>

      </div>
    </div>

    <footer class="admin-content-footer">
      <hr>
      <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
    </footer>

  </div>
  <!-- content end -->
</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
  <hr>
  <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

 <script>
        function selectAll(){
            var checklist = document.getElementsByName('selected');
            if(document.getElementById('controlAll').checked) {
                for(var i=0;i<checklist.length;i++) {
                    checklist[i].checked = 1;
                }
            }else{
                for(var j=0;j<checklist.length;j++) {
                    checklist[j].checked = 0;
                }
            }
        }
        
    </script>
<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/stylesheets/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/javascripts/jquery.min.js"></script>
<!--<![endif]-->
<script src="/javascripts/amazeui.min.js"></script>
<script src="/javascripts/app.js"></script>
<script>
		$('#collapse-nav1').collapse();
		$('#list a:first-child').append('<span class="am-icon-star am-fr am-margin-right admin-icon-red"></span>');
	</script>
</body>
</html>