<!doctype html>
<html>

<head>
   <%- include('admin/portal/head'); %>
   <script src="/javascripts/echarts.min.js"></script>
</head>

<body data-type="generalComponents">
      <%- include('admin/portal/header') %>

    <div class="tpl-page-container tpl-page-header-fixed">
         <%- include('admin/portal/sidernav') %>

        <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                Amaze UI 表单
            </div>
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">表单</a></li>
                <li class="am-active">Amaze UI 表单</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 发表文章
                    </div>
                   


                </div>

                <div class="tpl-block">

                    <div class="am-g">
                        <div class="tpl-form-body tpl-form-line">
                            <form class="am-form tpl-form-line-form" action="/article/add" method="post">
                                <div class="am-form-group">
                                    <label for="title" class="am-u-sm-3 am-form-label">标题 <span class="tpl-form-line-small-title">Title</span></label>
                                    <div class="am-u-sm-9">
                                        <input type="text" class="tpl-form-input" id="tltle" name="title" placeholder="请输入标题文字">
                                        <small>请填写标题文字10-20字左右。</small>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-email" class="am-u-sm-3 am-form-label">发布时间 <span class="tpl-form-line-small-title">Time</span></label>
                                    <div class="am-u-sm-9">
                                        <input type="text" class="am-form-field tpl-form-no-bg" placeholder="发布时间" name="pushTime" data-am-datepicker="" readonly/>
                                        <small>发布时间为必填</small>
                                    </div>
                                </div>

                              <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">作者 <span class="tpl-form-line-small-title">Author</span></label>
                                    <div class="am-u-sm-9">
                                        <input type="text" class="tpl-form-input" id="user-name" name="author">
                                        
                                    </div>
                                </div>

                               


                                <div class="am-form-group">
                                    <label for="user-weibo" class="am-u-sm-3 am-form-label">添加分类 <span class="tpl-form-line-small-title">Type</span></label>
                                    <div class="am-u-sm-12 am-u-md-3">
                                     
                                        <select data-am-selected="{btnSize: 'sm'}" name="articleType" id="user-weibo" >
                                        <%articletypes.forEach(function(articletype){ %>
                                            <option value="<%=articletype._id%>"><%=articletype.name%></option>
                                            <%})%>
                                        </select>
                                   
                                    </div>
                                </div>
                                 
                                

                    

                                <div class="am-form-group">
                                    <label for="user-intro" class="am-u-sm-3 am-form-label">文章内容</label>
                                    <div class="am-u-sm-9">
                                        <textarea class="" rows="10" id="user-intro" name="content" placeholder="请输入文章内容"></textarea>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">发表文章</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>
  <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/amazeui.min.js"></script>
    <script src="/javascripts/iscroll.js"></script>
    <script src="/javascripts/app.js"></script>
</body>

</html>