<!doctype html>
<html>

<head>
    <%- include('admin/portal/head'); %>
    <script src="/javascripts/echarts.min.js"></script>
</head>

<body data-type="generalComponents">
     <%- include('admin/portal/header') %>

    <div class="tpl-page-container tpl-page-header-fixed">

         <%- include('admin/portal/sidernav') %>
        <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
               阳光百姓工程
            </div>
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">稿件管理</a></li>
                <li class="am-active">阳光百姓工程</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span>阳光百姓工程
                    </div>

             </div>
             <div class="tpl-block">
                  
                <div class="am-slider am-slider-default" data-am-flexslider="{playAfterPaused: 8000}">
                    <ul class="am-slides">
                        <li><img src="/images/8.jpg" height="300px;" /></li>
                        <li><img src="/images/1.jpg" height="300px;" /></li>
                    </ul>
                </div>
                <div data-am-widget="tabs" class="am-tabs am-tabs-d2" style="margin:0;overflow:auto;">
                    <ul class="am-tabs-nav am-cf" style="font-size:16px;">
                        <li class="am-active"><a href="[data-tab-panel-0]">基础建设</a></li>
                        <li class=""><a href="[data-tab-panel-1]">惠农补贴</a></li>
                        <li class=""><a href="[data-tab-panel-2]">领域建设</a></li>
                        <li class=""><a href="[data-tab-panel-3]">两委贿选</a></li>
                    </ul>
                    <div class="am-tabs-bd" style="position:absolute;height:auto;width:100%">

                        <%# 子菜单----基础建设 %>
                        <div data-tab-panel-0 class="am-tab-panel am-active">
                            <div class="weui_panel_bd">
                                <ul>
                                    <%for(var i=0;i<Articles1.length;i++){ %>
                                    <li><a href="/article/news_details<%=i+1%>?_id=<%=Articles1[i]._id%>">
                                    
                                        <div class="am-text-default">
                                            <h4 class="weui_media_title" style="margin:0"><%=Articles1[i].title%></h4>
                                            <p class="weui_media_desc" style="margin:0"><small><%=Articles1[i].content%></small></p>
                                        </div>
                                    </a>
                                    </li><br>
                                    <%}%>
                                </ul>
                               
                            </div>
                        </div>
                        <%# 子菜单----惠农补贴 %>
                        <div data-tab-panel-1 class="am-tab-panel ">
                            <div class="weui_panel_bd">
                                 <ul>
                                    <%for(var i=0;i<Articles2.length;i++){ %>
                                    <li><a href="/article/news_details<%=i+1%>?_id=<%=Articles2[i]._id%>">
                                    
                                        <div class="am-text-default">
                                            <h4 class="weui_media_title" style="margin:0"><%=Articles2[i].title%></h4>
                                            <p class="weui_media_desc" style="margin:0"><small><%=Articles2[i].content%></small></p>
                                        </div>
                                    </a>
                                    </li><br>
                                    <%}%>
                                </ul>
                            </div>
                        </div>
                        <%# 子菜单----领域建设 %>
                        <div data-tab-panel-2 class="am-tab-panel ">
                            <div class="weui_panel_bd">
                                 <ul>
                                    <%for(var i=0;i<Articles3.length;i++){ %>
                                    <li><a href="/article/news_details<%=i+1%>?_id=<%=Articles3[i]._id%>">
                                    
                                        <div class="am-text-default">
                                            <h4 class="weui_media_title" style="margin:0"><%=Articles3[i].title%></h4>
                                            <p class="weui_media_desc" style="margin:0"><small><%=Articles3[i].content%></small></p>
                                        </div>
                                    </a>
                                    </li><br>
                                    <%}%>
                                </ul>
                            </div>
                        </div>
                        <div data-tab-panel-3 class="am-tab-panel " style="width:1000px;">
                            <form class="am-form">
                                <fieldset>
                                    <legend>贿选举报</legend>
                                    <div class="am-form-group">
                                        <label for="doc-ipt-email-1">姓名</label>
                                        <input type="email" class="" id="doc-ipt-email-1" placeholder="请输入您的姓名">
                                    </div>

                                    <div class="am-form-group">
                                        <label for="doc-ipt-email-1">联系电话</label>
                                        <input type="email" class="" id="doc-ipt-email-1" placeholder="请输入您的电话">
                                    </div>

                                    <div class="am-form-group">
                                        <label>
                                            <input type="checkbox" value="option1"> 贿选
                                        </label>
                                        <label>
                                            <input type="checkbox" value="option2"> 破坏选举
                                        </label>
                                        <label>
                                            <input type="checkbox" value="option3"> 拉票
                                        </label>
                                        <label>
                                            <input type="checkbox" value="option3"> 操纵选举
                                        </label>
                                        <label>
                                            <input type="checkbox" value="option3"> 宗教势力干涉
                                        </label>
                                        <label>
                                            <input type="checkbox" value="option3"> 黑恶势力干预
                                        </label>
                                        <label>
                                            <input type="checkbox" value="option3"> 暴力威胁及家庭势力
                                        </label>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="doc-ta-1">举报内容</label>
                                        <textarea class="" rows="5" id="doc-ta-1" placeholder="请输入举报内容"></textarea>
                                    </div>
                                    <p><button type="submit" class="am-btn am-btn-primary am-btn-block">提交留言</button></p>
                                </fieldset>
                            </form>
                        </div>
            
        </div>
    </div>
                <div class="tpl-alert"></div>
            </div>

        </div>

    </div>


      <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/amazeui.min.js"></script>
    <script src="/javascripts/iscroll.js"></script>
    <script src="/javascripts/app.js"></script>
</body>

</html>